<simple-notifications [options]="options"></simple-notifications>
<div class="row">

  <div class="col-sm-12">

    <!-- Add new product -->
    <app-card [title]="'Product information'" [blockClass]="'tab-icon'" [cardOptionBlock]="true">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="md-tabs">
            <ngb-tabset>
              <ngb-tab>
                <ng-template ngbTabTitle><i class="icofont icofont-social-dropbox"></i>Basic information</ng-template>
                <ng-template ngbTabContent>
                  <div [@fadeInOutTranslate] class="m-t-15">
                    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="name" formControlName="name">
                          <div class="messages text-danger" *ngIf="productForm.controls.name.errors?.required">Name can't be blank</div>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Sale Price</label>
                        <div class="col-sm-2">
                          <input type="text" class="form-control" id="salePrice" formControlName="salePrice">
                          <div class="messages text-danger" *ngIf="productForm.controls.salePrice.errors?.required">Price can't be blank</div>
                          <div class="messages text-danger" *ngIf="productForm.controls.salePrice.errors?.number">Price should be numeric</div>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                          <textarea rows="5" cols="5" class="form-control" id="description" formControlName="description"></textarea>
                          <div class="messages text-danger" *ngIf="productForm.controls.description.errors?.required">Description can't be blank</div>
                        </div>
                      </div>

                      <div class="form-group row category">
                        <label class="col-sm-2 col-form-label">Category</label>
                        <div class="col-sm-10">
                          <tree-root [(state)]="state" [nodes]="category" [options]="options" (click)="selectCategory()"></tree-root>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-sm-2"></label>
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-sm btn-primary m-b-0" [disabled]="!productForm.valid"><i class="icofont icofont-ui-add"></i>Add product</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle><i class="icofont icofont-ui-image"></i>Gallery</ng-template>
                <ng-template ngbTabContent>
                  <div [@fadeInOutTranslate] class="m-t-15">
                    <div class="form-group row category">
                      <label class="col-sm-2 col-form-label">Feature image</label>
                      <div class="col-sm-10">
                        <button type="button" class="btn btn-success btn-sm" (click)="uploadFeatureImage.show()"><i class="fa fa-upload"></i>Upload</button>
                        <div *ngIf="gallery.featureImage" class="popular-img-block">
                          <img class="img-fluid" src="{{basicEndPoint}}/gallery/image/{{gallery.featureImage}}" />
                        </div>
                      </div>
                    </div>

                    <div [@fadeInOutTranslate] class="m-t-15">
                      <div class="form-group row category">
                        <label class="col-sm-2 col-form-label">Gallery images</label>
                        <div class="col-sm-10">
                          <button type="button" class="btn btn-success btn-sm" (click)="uploadGalleryImages.show()"><i class="fa fa-upload"></i>Upload</button>
                          <div *ngIf="gallery.images" class="popular-img-block">
                            <img *ngFor="let image of gallery.images" class="img-fluid" src="{{basicEndPoint}}/gallery/image/{{image}}" />
                          </div>
                        </div>
                      </div>
                    </div>

                    <app-modal-basic #uploadFeatureImage [dialogClass]="'modal-lg'">
                      <div class="app-modal-header">
                        <h5 class="modal-title">Feature image</h5>
                      </div>
                      <div class="app-modal-body">
                        <perfect-scrollbar class="overflow-container" [style.width]="'100%'" [style.height]="'300px'" [config]="config">
                          <input type="file" name="file" (change)="fileChangeEvent($event)" />
                          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [resizeToWidth]="300" format="png" (imageCropped)="imageCropped($event)"></image-cropper>
                          <img [src]="croppedImage" />
                        </perfect-scrollbar>
                      </div>
                      <div class="app-modal-footer">
                        <button class="btn btn-success btn-sm" (click)="send('feature')"><i class="fa fa-upload"></i>Upload</button>
                        <button class="btn btn-inverse btn-outline-inverse btn-sm" (click)="uploadFeatureImage.hide()">Close</button>
                      </div>
                    </app-modal-basic>

                    <app-modal-basic #uploadGalleryImages [dialogClass]="'modal-lg'">
                      <div class="app-modal-header">
                        <h5 class="modal-title">Feature image</h5>
                      </div>
                      <div class="app-modal-body">
                        <perfect-scrollbar class="overflow-container" [style.width]="'100%'" [style.height]="'300px'" [config]="config">
                          <input type="file" name="file" (change)="fileChangeEvent($event)" />
                          <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [resizeToWidth]="300" format="png" (imageCropped)="imageCropped($event)"></image-cropper>
                          <img [src]="croppedImage" />
                        </perfect-scrollbar>
                      </div>
                      <div class="app-modal-footer">
                        <button class="btn btn-success btn-sm" (click)="send('gallery')"><i class="fa fa-upload"></i>Upload</button>
                        <button class="btn btn-inverse btn-outline-inverse btn-sm" (click)="uploadGalleryImages.hide()">Close</button>
                      </div>
                    </app-modal-basic>

                  </div>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </app-card>
    <!-- Add new product end -->
  </div>
</div>
