<!-- <simple-notifications [options]="options"></simple-notifications> -->
<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Orders'" [classHeader]="true" >
      <!-- tabs card start -->
      <div class="col-sm-12">
        <table class="table data-table fullscreen">
          <tr>
            <th>Customer</th>
            <th>Purchased On</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let order of orders.data">
            <td>{{order.firstName}} {{order.lastName}}</td>
            <td>{{order.purchaseDate}}</td>
            <td><span [ngClass]="{
                  'label':order.status,
                  'label-danger':order.status === 'failed',
                  'label-warning':order.status === 'pending',
                  'label-success':order.status === 'delivered'}">{{order.status}}</span>
            </td>
            <td>
              <div ngbDropdown class="btn-group dropdown-split-primary">
                <button type="button" (click)="goDetail(order.id)" class="label btn btn-mini btn-info btn-primary"><i class="icofont icofont-eye-alt"></i>View</button>
                <button ngbDropdownToggle class="label btn btn-mini btn-info waves-effect waves-light" type="button"></button>
                <div ngbDropdownMenu>
                  <a class="dropdown-item waves-light waves-effect" (click)="updateStatus(order,'failed')" href="javascript:">failed</a>
                  <a class="dropdown-item waves-light waves-effect" (click)="updateStatus(order,'pending')" href="javascript:">pending</a>
                  <a class="dropdown-item waves-light waves-effect" (click)="updateStatus(order,'delivered')" href="javascript:">delivered</a>
                </div>
              </div>
            </td>
          </tr>
        </table>

        <div class="text-center" style="margin-top:60px;">
          <button class="btn btn-outline-primary btn-round btn-sm">Load More</button>
        </div>
      </div>
    </app-card>
  </div>
</div>
