<div class="row">
  <div class="col-sm-12">
    <app-card>
      <button class="btn btn-outline-primary btn-sm" routerLink="/products/add"><i class="icofont icofont-plus"></i>Add Product</button>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'List products'">
      <div class="row">
        <div class="col-sm-4">
          <div class="input-group input-group-sm">
            <span class="input-group-addon" id="basic-addon8"><i class="icofont icofont-search-alt-2"></i></span>
            <input (keyup)="searchTerm$.next($event.target.value)" type="text" class="form-control" placeholder="search">
          </div>
        </div>
      </div>

      <ngx-datatable class="data-table" [rows]="products.data" [columnMode]="'force'" [headerHeight]="50" [rowHeight]="'auto'">

        <ngx-datatable-column name="Name"></ngx-datatable-column>
        <ngx-datatable-column name="Description"></ngx-datatable-column>
        <ngx-datatable-column name="Actions">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button class="btn btn-info btn-mini btn-outline-info" (click)="goProductDetail(row.id)"><i class="icofont icofont-info-square"></i>Details</button>
            <button class="btn btn-warning btn-mini btn-outline-warning" (click)="goProductEdit(row.id)"><i class="icofont icofont-ui-edit"></i>Edit</button>
            <button class="btn btn-danger btn-mini btn-outline-danger" (click)="delete(row.id)"><i class="icofont icofont-trash"></i>Delete</button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
      <ngb-pagination [collectionSize]="products.totalPages" [maxSize]="maxSize" size="sm" [(page)]="page" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>

    </app-card>
  </div>
</div>
