<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'File List'">
      <div *ngFor="let image of images">
        <img class="img-100" src="http://localhost:8080/gallery/image/{{image}}" />
      </div>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'File List'">

      <!-- button Default -->
      <div class="col-sm-12 col-xl-3 m-b-30">
        <h4 class="sub-title">Primary Select</h4>
        <select name="select" class="form-control form-control-primary" (change)='optionsSelected($event.target.value)'>
              <option *ngFor="let i of imageSizes" value="{{i.value}}">{{i.key}}</option>
        </select>
      </div>

      <div class="">
        <input type="file" name="file" (change)="fileChangeEvent($event)" />
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [resizeToWidth]="this.selectedSize" format="png" (imageCropped)="imageCropped($event)"></image-cropper>
        <img [src]="croppedImage" />
        <button class="btn btn-success" (click)="send()"><i class="fa fa-upload"></i>Upload</button>
      </div>
    </app-card>
  </div>
</div>
