<simple-notifications [options]="options"></simple-notifications>
<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Add image'">

      <!-- button Default -->
      <div class="col-sm-12 col-xl-3 m-b-30">
        <select name="select" class="form-control form-control-primary" (change)='optionsSelected($event.target.value)'>
              <option *ngFor="let i of imageSizes" value="{{i.value}}">{{i.key}}</option>
        </select>
      </div>

      <div class="">
        <input type="file" name="file" (change)="fileChangeEvent($event)" />
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [resizeToWidth]="this.selectedSize" format="png" (imageCropped)="imageCropped($event)"></image-cropper>
        <img [src]="croppedImage" />
      </div>
      <br>
      <div class="">
        <button class="btn btn-success btn-sm" (click)="send()"><i class="fa fa-upload"></i>Upload</button>
      </div>
    </app-card>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Image list'">
      <div class="card-block">
        <div class="popular-img-block">
          <img class="img-fluid" *ngFor="let image of images.data" src="{{basicEndPoint}}/gallery/image/{{image.filename}}" />
        </div>
        <div class="text-center m-t-15">
          <ngb-pagination [collectionSize]="images.pageSize" [maxSize]="maxSize" size="sm" [(page)]="page" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
      </div>
    </app-card>
  </div>
</div>
